## Regex - Regular Expression

**Helps filter based on a particular set of conditions. e.g. find names starting with the letter "s"**

Import the Regex expression, re

In [1]:
import re

In [7]:
names = ["Leah", "Johnny", "Suzy", "Nathan", "Mel", "Lori"] #Start by creating a loop first for easier reference step by step
for name in names:
    print(name)

Leah
Johnny
Suzy
Nathan
Mel
Lori

#### re.match - to find/search for variables

In [20]:
names = ["Leah", "Johnny", "Suzy", "Nathan", "Mel", "Lori", "Melissa", "leah"]
for name in names:
    if re.match("^L", name): #Trying to find the names starting with L - first way to write the syntex
        print(name)

Leah
Lori

In [9]:
for name in names:
    if re.match("[L]", name): #Trying to find the names starting with L - second way to write the syntex
        print(name)

Leah
Lori

In [17]:
for name in names:
    if re.match("[ME]", name):
        print(name)

Mel
Melissa

In [18]:
for name in names:
    if re.match("[^ME]", name): #don't want to see the names with m and e
        print(name)

Leah
Johnny
Suzy
Nathan
Lori

In [21]:
for name in names:
    if re.match("[Ll]", name): #want to see the names with both capital L and small l
        print(name)

Leah
Lori
leah

In [23]:
for name in names:
    if re.match("[A-Z]", name): #show all the names in caps starting from letter A to Z
        print(name)

Leah
Johnny
Suzy
Nathan
Mel
Lori
Melissa

In [24]:
for name in names:
    if re.match("[a-z]", name): #show all the names in small letters starting from letter A to Z
        print(name)

leah

In [63]:
names = ["Leah", "Johnny", "Suzy", "Nathan", "Mel", "Lori", "Melissa", "leah", "193", "2", "3", "Leoh"] #let's add some numbers

In [55]:
for name in names: 
    if re.match("[0-9]", name): #search for any character that at least has from 0-1
        print(name)

193
2
3

#### let's look for the string with second characters as e

In [56]:
for name in names: 
    if re.match(".[e]", name):
        print(name)

Leah
Mel
Melissa
leah

#### let's look for the string with third characters as a

In [58]:
for name in names: 
    if re.match("..[a]", name): #just add an extra . this . dot represents one character
        print(name)

Leah
leah

#### let's look for the string with certain characters at certain positions

***remember it's case sensitive!!!***

In [66]:
for name in names: 
    if re.match("[L]..[h]", name): #first character should start with L and fourth character should be h
        print(name)

Leah
Leoh

#### Finding strings with both capital letters and small letters

In [78]:
for name in names: 
    if re.match("[A-Za-z]", name):
        print(name)

Leah
Johnny
Suzy
Nathan
Mel
Lori
Melissa
leah
Leoh

In [79]:
for name in names: 
    if re.match("[A-Za-z0-9]", name): #including numbers
        print(name)

Leah
Johnny
Suzy
Nathan
Mel
Lori
Melissa
leah
193
2
3
Leoh

### Or... we can use character classes when we don't know what are the values in there


\d - [0-9]
\D - non digits
\w - Matches any alphanumeric character. short for character class [a-zA-Z_0-9]
\s - Matches any whitespace character

In general the caps of the syntax is usually the opposite of the function (need to confirm again if this is true)

In [82]:
for name in names: 
    if re.match("\d", name): #\d shows all the numbers that matches decimal digit 0 - 9
        print(name)

193
2
3

In [83]:
for name in names: 
    if re.match("\D", name): #\d shows all the numbers that matches decimal digit 0 - 9
        print(name)

Leah
Johnny
Suzy
Nathan
Mel
Lori
Melissa
leah
Leoh

#### re.search() Let's try with a real life example: Validating email address

In [94]:
import re

pattern = "[A-Za-z0-9] + @[A-Za-z] + \.(com|net|edu|co)" #this is the code provided by sadiq but it seems to be wrong
email = input("Enter your email address: ")
if(re.search(pattern,email)):
    print("Valid email")
    
else:
    print("Invalid email")

Enter your email address:  qwr@gmail.com

Invalid email

In [108]:
regex = '^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'  
email = input("Enter your email address: ")
  
if(re.search(regex,email)):   
    print("Valid Email")   
else:   
    print("Invalid Email")

Enter your email address:  gasd@gmail.com

Valid Email

^ means to match the starting of the string, i.e. here it tells the interpreter that the sequence that follows ^ is the format based on which it has to decide which email is valid and which is not.

[...] means to match a set of characters, and [a-z0-9] means to find a sequence/combination of characters that contains characters from small 'a' to small 'z' and numbers from 0 to 9. + means to match 1 or more repetitions. Hence, [a-z0-9]+ means to match all the combinations of small 'a' to small 'z' and numbers from 0 to 9, repeating one or more than one time.

[\._] means to match '.' (dot) and ? means to find 0 or 1 repetitions. Since we don't allow more than one consecutive dot in an email address so [\._]? means it has to match zero or one occurrence of a dot.

We have another [a-z0-9]+ so as to find another combination of small 'a' to small 'z' and numbers from 0 to 9 repeating one or more than one time, which may or may not be a successor of a dot.

[@] means to match @, and \w means to match any alphanumeric character, i.e. [@]\w+ means to match @ followed by any alphanumeric character, repeating one or more than one time

[.]\w{2,3} means to match dot followed by any alphanumeric combination of characters of length 2 or 3. This is used to match the domain names which are of length 2 and 3. If you want to check custom domain names so you can replace this with \w+.

$ means to match the end of the string, i.e. -- $ means to mark the end of validation sequence.

#### let's verify singapore numbers: re.match()

In [109]:
import re

In [119]:
numbers = ["+6598293017", "+198293017", "+8298293017", "+9198293017"]

for number in numbers:
    if re.match("\+[6][5]", number):
                print(number)

+6598293017

In [125]:
numbers = ["+6598293017", "+198293017", "+8298293017", "+9198293017", "+6581203892"]

for x in numbers:
    if re.match("\+[6][5]", x):
        print(x)

+6598293017
+6581203892

In [126]:
for x in numbers:
    if re.match("\+[1]", x):
        print(x)

+198293017

***but now we need to make sure it shows the right number of numbers***

In [127]:
for x in numbers:
    if re.match("\+[6][5]\d{8}", x):
        print(x)

+6598293017
+6581203892

### re.split() let's split names

In [128]:
fullname = "Leah Lee Chen Tei"
split = re.split(" ", fullname)
print(split)

['Leah', 'Lee', 'Chen', 'Tei']

In [131]:
fullname = "Leah Lee Chen Tei"
print(re.split(" ", fullname)) #just executing in one less line~

['Leah', 'Lee', 'Chen', 'Tei']

In [133]:
fullname = "Leah Lee Chen Tei"
split = re.split(" ", fullname)

for n in split:
    print(n)

Leah
Lee
Chen
Tei

In [134]:
fullname = "Leah Lee Chen Tei"

for n in re.split(" ", fullname):
    print(n)

Leah
Lee
Chen
Tei

### re.findall() to search for the whole string

In [136]:
s = "Today is Leah's 30th Birthday"

print(re.findall("\d", s))

['3', '0']

In [137]:
s = "Today is Leah's 30th Birthday"

print(re.findall("\d{2}", s))

['30']

let's complicate things heh - we'll need to extract only the name and age from a string

In [144]:
str = "Leah is 30 and Koo is 50 and Grandma is 100 and Kid is 4" # lets try to take out just the name and their age

name = re.findall("[A-Z][a-z]*", str) 
age = re.findall("\d{1,3}", str)

print(name)
print(age)

['Leah', 'Koo', 'Grandma', 'Kid']
['30', '50', '100', '4']

In [145]:
str = "Leah is 30 and Koo is 50 and Grandma is 100 and Kid is 4" # lets try to take out just the name and their age

name = re.findall(r"[A-Z][a-z]*", str) #its also good to specify that its a raw data with r
age = re.findall(r"\d{1,3}", str)

print(name)
print(age)

['Leah', 'Koo', 'Grandma', 'Kid']
['30', '50', '100', '4']

### re.sub() - replace a value in the string with something else

In [147]:
str = "Today is Monday"
x = re.sub("Monday", "Tuesday", str)
print(x)

Today is Tuesday